* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
h1 {
  font-weight: 900;
}
#navIcon {
  width: 25px;
  height: 18px;
  margin: auto;
  position: fixed;
  left: 20px;
  top: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}
#navIcon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#navIcon span:nth-child(even) {
  left: 50%;
}
#navIcon span:nth-child(odd) {
  left: 0px;
}
#navIcon span:nth-child(1),
#navIcon span:nth-child(2) {
  top: 0px;
}
#navIcon span:nth-child(3),
#navIcon span:nth-child(4) {
  top: 7px;
}
#navIcon span:nth-child(5),
#navIcon span:nth-child(6) {
  top: 14px;
}
#navIcon.open span:nth-child(1),
#navIcon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#navIcon.open span:nth-child(2),
#navIcon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#navIcon.open span:nth-child(1) {
  left: 0px;
  top: 2px;
}
#navIcon.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 2px;
}
#navIcon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#navIcon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#navIcon.open span:nth-child(5) {
  left: 0px;
  top: 11px;
}
#navIcon.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 11px;
}
/* HEADER */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  line-height: 30px;
  padding: 0 20px;
  background-color: #333333;
  z-index: 999;
}
.main-header .main-nav {
  background-color: #333333;
  width: 100%;
  height: auto;
  left: 0;
  top: 50px;
  padding: 0px 20px 20px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  -webkit-transition: all 500ms ease 0ms;
  -moz-transition: all 500ms ease 0ms;
  -o-transition: all 500ms ease 0ms;
  transition: all 500ms ease 0ms;
}
.main-header .main-nav.open {
  visibility: visible;
  opacity: 1;
}
.main-header .main-nav ul li {
  display: block;
  font-size: 14px;
}
.main-header .main-nav ul li a {
  color: #fff;
  font-weight: 700;
  display: block;
}
.main-header.second-language {
  text-align: right;
  direction: rtl;
}
.main-header.second-language #navIcon {
  right: 20px;
  left: auto;
}
/* BUTTON */
.button {
  display: block;
  text-align: center;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #000;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-top: 40px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 500ms ease 0ms;
  -moz-transition: all 500ms ease 0ms;
  -o-transition: all 500ms ease 0ms;
  transition: all 500ms ease 0ms;
}
.button:hover {
  background: #000;
  color: #fff;
}
/* CONTENT WRAP */
.content-wrap {
  width: 100%;
  padding: 30px 20px;
  padding-bottom: 30px;
  text-align: center;
}
.content-wrap .image-wrap .image {
  width: 100%;
  max-width: 60%;
  margin: auto;
  background-size: cover;
  background-position: center;
}
.content-wrap .image-wrap .image:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.content-wrap .text-content .content-title {
  font-size: 18px;
  line-height: 1.6em;
  margin: 20px 0;
}
.content-wrap .text-content p {
  font-size: 14px;
  line-height: 1.4em;
}
/* INTRO CONTENT */
.intro-content {
  background: #999999;
}
.intro-content .content-wrap {
  color: #fff;
  padding-top: 20px;
}
.intro-content .content-wrap .image-wrap .image {
  max-width: 100%;
}
.intro-content .content-wrap .image-wrap .image:after {
  padding-top: 50%;
}
@media (min-width: 600px) and (max-width: 959px) {
  .main-content {
    padding: 20px 0px;
  }
  .content-wrap {
    display: table;
    max-width: 520px;
    margin: auto;
  }
  .content-wrap .image-wrap {
    width: 30%;
    display: table-cell;
    vertical-align: middle;
  }
  .content-wrap .image-wrap .image {
    max-width: 100%;
  }
  .content-wrap .text-content {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    padding: 20px 0px 20px 30px;
    text-align: left;
  }
  .content-wrap .text-content .content-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .content-wrap.second-language .text-content {
    padding: 20px 30px 20px 0px;
    text-align: right;
  }
  .intro-content .content-wrap {
    max-width: 380px;
    margin: auto;
    color: #000;
    padding-top: 60px;
  }
  .intro-content .content-wrap .image-wrap {
    width: 100%;
    display: block;
  }
  .intro-content .content-wrap .image-wrap .image:after {
    padding-top: 100%;
  }
  .intro-content .content-wrap .text-content {
    display: block;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
  }
  .intro-content .content-wrap .text-content .content-title {
    font-size: 18px;
  }
}
@media (min-width: 960px) {
  .main-content {
    padding: 20px 0px;
    width: 100%;
    max-width: 1024px;
    margin: auto;
  }
  .main-header {
    padding: 0 40px;
    line-height: 50px;
  }
  .main-header .main-nav {
    position: relative;
    visibility: visible;
    opacity: 1;
    top: 0;
    padding: 0;
  }
  .main-header .main-nav ul li {
    margin-right: 10px;
    display: inline-block;
  }
  .main-header #navIcon {
    display: none;
  }
  .content-wrap {
    width: 50%;
    float: left;
    padding: 60px;
  }
  .content-wrap .image-wrap .image {
    max-width: 40%;
  }
  .intro-content .content-wrap {
    padding: 40px 80px;
    width: 100%;
    float: none;
    position: relative;
    max-width: 1024px;
    margin: auto;
  }
  .intro-content .content-wrap .image-wrap {
    width: 50%;
    float: right;
  }
  .intro-content .content-wrap .image-wrap .image {
    max-width: 100%;
  }
  .intro-content .content-wrap .image-wrap .image:after {
    padding-top: 90%;
  }
  .intro-content .content-wrap .text-content {
    width: 50%;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 40px;
    text-align: left;
    padding-right: 100px;
    color: #000;
  }
  .intro-content .content-wrap .text-content .content-title {
    font-size: 24px;
  }
  .intro-content .content-wrap.second-language .image-wrap {
    float: left;
  }
  .intro-content .content-wrap.second-language .text-content {
    right: 40px;
    left: auto;
    padding-right: 0;
    padding-left: 100px;
    text-align: right;
  }
  .button {
    max-width: 260px;
  }
}
.second-language {
  direction: rtl;
}
